/credentials.json
/google_photos_cache.db
/google_photos_cache.sqlite
/gphtospy.log
/img
/photoslibrary_v1.token
/token.json
/venv
/session
/session.json
/latest_logs
/__pycache__
/downloaded_files
/example.json
/config.json
/imageToSearch.jpg
/hash_rows.csv
/urls.csv
/downloaded_photos
error.txt
todo.md
records_without_timezone.csv
records_without_timezone1.csv
