/credentials.json
/google_photos_cache.db
/google_photos_cache.sqlite
/gphtospy.log
/img
/photoslibrary_v1.token
/token.json
/venv
/session
/session.json
/latest_logs
/__pycache__
/downloaded_files
/example.json
/config.json
